// Header
header.container {
    background-color: $white;
}

.brand {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

.navbar {
    display: flex; 
    justify-content: center;
    list-style: none;    
    & a {
        text-decoration: none;
        padding: 0 15px;
        font-weight: bold; 
        color: #000;
        background: transparent;
        transition: background .4s;
        &:hover {
            background: #b6dbe4;
            padding-bottom: 10px;
        }
        &:focus {
            background: #b6dbe4;
            padding-bottom: 15px;
        }
    }
}